# This the task for GEN-AI from Vincent's Granvilles book "Synthetic Data and Generative AI"

The first thing is to import the packages

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy
from scipy.stats import ks_2samp
from statsmodels.distributions.empirical_distribution import ECDF

Reading the data from Github from the Vincent Granville's [repo](https://github.com/VincentGranville/Main) 

The link for the project book is [here](https://github.com/VincentGranville/Large-Language-Models/blob/main/Projects4.pdf)

In [16]:
# Selecting the needed data frames according to the project book. 
insurance = 'insurance.csv'
insurance_compare = 'insurance_compare.csv'

# Getting the URL
url = "https://raw.githubusercontent.com/VincentGranville/Main/main/"

# Separating the raw data frames
raw_insurance =  url + insurance 
raw_insurance_compare = url + insurance_compare 

# Opening the links with pandas.
df_insurance = pd.read_csv(raw_insurance)
df_insurance_compare = pd.read_csv(raw_insurance_compare)

### Step 1: Making the histograms for the numerical variables

In [ ]:
fig, axs = plt.subplots(2, 2)
axs[0, 0].hist(df_insurance['age'])
axs[0, 0].set_title("Age")
axs[1, 0].hist(df_insurance['charges'])
axs[1, 0].set_title("Charges")
axs[0, 1].hist(df_insurance['bmi'])
axs[0, 1].set_title("Bmi")
fig.tight_layout()

## Step 2: perform evaluations of vendor comparisons

In [17]:
df_insurance_compare = df_insurance_compare.drop('region', axis=1) # drop columns that are not useful
df_insurance_compare = df_insurance_compare.dropna(axis='columns') # Drop na row wise. 


df_insurance_compare_real = df.loc[df_insurance_compare['Data'] == 'Real'] # Create a dataset of insurance compare with only Real category
df_insurance_compare_real = df_insurance_compare_real.drop('Data', axis=1) # drop all the NA values from Data column
#data_real = data_real.to_numpy()
print(data_real)

   Data   age  sex     bmi  children  smoker   charges
0  Real  19.0    1  27.900       0.0       1  16884.92
1  Real  18.0    0  33.770       1.0       0   1725.55
2  Real  28.0    0  33.000       3.0       0   4449.46
3  Real  33.0    0  22.705       0.0       0  21984.47
4  Real  32.0    0  28.880       0.0       0   3866.86